footer{
    max-width: 100vw;
    height: auto;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #f3fdfb;
    font-size: 	1rem;
    border-top: 5px solid black;
}

.footer_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyRight{
    align-self: center;
    font-weight: bold;
    font-size: 0.7rem;
}

.footerContact{
    font-weight: bold;
    font-size: 0.7rem;
}