.home_div{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    height: auto;
    width: auto;
    align-content: center;
    justify-content: center;
    padding-bottom: 10rem;
}



.carousel {
    display: flex;
    width: 100%;
    height: 40vh;
    margin: 20px auto;
    justify-content: center;
    gap: 1rem;
}

.carousel-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.first{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fadeDiv1{
    display: flex;
    border-radius: 15px;
    height: 80%;
    max-height: 400px;
    width: 90%;
    justify-content:space-between;
    background-image: linear-gradient(to left, #002eff, #71d1fd, white);
    box-shadow: 0 0 25px rgb(0, 46, 255);
}


.firstBlock{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    border-radius: 15px;
    height: 100%;
    width: 25vw;
}

.fadeImage1{
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}


.second{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fadeDiv2{
    display: flex;
    border-radius: 15px;
    height: 80%;
    max-height: 400px;
    width: 90%;
    justify-content:space-between;
    background-image: linear-gradient(to left, #ffffff, #fb3c3c, #ff0000);
    box-shadow: 0 0 25px rgb(255, 5, 5);
}


.secondBlock{
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    height: 100%;
    width: 25vw;
}

.fadeImage2{
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.prev, .next{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

.firstDescription, .secondDescription{
    display: flex;
    justify-content: center;
    align-items: center;
}