.OrderCreate-Container{
    display: flex;
    height: 77vh;
    width: auto;
    background-color: #9a9a9a;
    justify-content: center;
    align-items: center;
}

.OrdersCreate-List{
    background-color: white;
    width: 90vw;
    height: 70vh;
}