.Orders-Container{
    display: flex;
    padding: 1rem 0 1rem 0 ;
    justify-self: center;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Orders-List{
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    width: 98%;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #303030;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
}

.orders-card{
    background-color: white ;
    padding: 2rem;
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
}
