.productsAdd-container{
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: #f3fdfb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.edit-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.AddForm-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    height: 40%;
    background-color: #f3fdfb;
    justify-content: center;
    padding: 0 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #575757;
}

.Change-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 1vw;
    margin-bottom: 1vh;
}


.edit-input{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    height: 3vh;
    border: 2px solid black;
}


.Data-View-Box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 40%;
    background-color: #8734f6;
    padding: 3vw;
    border-radius: 15px;
    box-shadow: 0 4px 12px #8734f6;
}

.Data-Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    margin-bottom: 1vh;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
}

.data-label{
    font-weight: bold;
}

.Product-Add-Btn{
    margin-top: 10px;
    height: 5vh;
    text-align: center;

}

.Add-Btn{
    width: 60%;
    max-width: 200px;
    height: 100%;
    border-radius: 15px;
    transition: box-shadow 0.5s ease ,transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    font-weight: bold;
    cursor: pointer;
}

.Add-Btn:hover{
    transition: box-shadow 0.5s ease ,transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    background-color: #8734f6;
    color: white;
    transform: translate(0px, -10px);
    box-shadow: 0 4px 12px #8734f6;
}


.products-containerAdmin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
    min-height: 77vh;
    background-color: #f3fdfb;
}

.addProductTitle{
    font-weight: bold;
}

.listProductsToEdit{
    width: 100%;
    height: 100%;
}

.products-boxAdmin{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    font-size: 1rem;
    border-radius: 10px;
    gap: 20px;
    flex-wrap: wrap;

}
.product-cardAdmin{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: auto;
    height: auto ;
    max-width: 10vw;
    padding: 10px;
    background-color: white;
    gap: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #575757;
}

.product-image{
    width: auto;
    min-width: 15vw;
    height: 8vw;
}

.product-buttons{
    min-height: 8%;
    display: flex;
    justify-content: space-evenly;
}
.product-button{
    height: auto;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 1s ease;
}

.product-button:hover{
    height: auto;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    background-color: black;
    color: white;
    transition:  transform 0.5s ease, background-color 0.5s ease , color 0.5s ease ;
    transform:  translate(0px, -10px);
}

.edit{
    background-color: greenyellow;
}

.delete{
    background-color: #fa3d3d;
}

.deletePopup{
    display: flex;
    position: fixed;
    top: 25vh;
    height: 50vh;
    width: 50vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.deleteButtons{
    display: flex;
    height: 25%;
    width: 70%;
    align-items: center;
    gap: 20%;
}

.deleteButton{
    height: 50%;
    width: 50%;
    background-color: #8734f6;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 1s ease;
}

.deleteButton:hover{
    transition:  transform 0.5s ease;
    transform:  translate(0px, -10px);
}

.editPopup{
    display: flex;
    position: fixed;
    top: 3vh;
    height: 95vh;
    width: 50vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.editButtons{
    display: flex;
    height: 15%;
    width: 40%;
    align-items: center;
    gap: 20%;
}

.editButton{
    height: 50%;
    width: 50%;
    background-color: #00a8ff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.5s ease, color 0.5s ease;
}

.editButton:hover{
    background-color: black;
    color: white;
    transition:  transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    transform:  translate(0px, -10px);

}

.EditForm-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    height: 60%;
    background-color: #f3fdfb;
    align-content: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #575757;
}

.edit-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}