.userOrders-Container{
    display: flex;
    height: 77vh;
    width: auto;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.userOrders-List{
    background-color: white;
    width: 80vw;
    height: 60vh;
}